*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}


body{
	font-family: Garamond, serif;
	font-size: 18px;
	background-color: #f1ecde;
}

h1, h2, h3{
	font-family: Arial, sans-serif;
	font-weight: lighter; 
	color: #495059;
	border-bottom: 2px solid #6f758d;
	padding:0;
}

h1{
	font-size: 1.5em;
	margin: 0, 0, 20px 0;
}

h2{
	font-size: 1.25em;
}

nav{
	background-color: #7d8da5;
	padding: 10px;
	margin:0;

}
nav a {
	font-family: arial, sans-serif;
	font-weight: lighter;
	font-size: 1em;
	background-color:#d8d0c6;
	color: #495059;
	/*float here so it's a horizontal nav*/
	margin:2px;
	padding: 5px 20px 5px 20px;
	text-decoration: none;
/*	float: left;*/
}

p{
	color: #495059;
	line-height: 1.6em;
	margin: auto;
}

footer{
	font-size: 12px;
	color: #495059;
	width: 25%;
	margin-left:auto; 
	margin-right: auto;
	margin-bottom: 0;
	text-transform: uppercase;
	padding-bottom: 0;

}
.clearfix: after{
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear:both;
height: 0;
}

#indexnav:
{
	margin-top: 8%;
}
#logo{
	width: 650px;
	margin: auto;
	margin-top: 12px;
	margin-bottom: 10px;
}
#carousel img:hover {
	color: rgba(#,#,#,.66)
/*how to make display text*/
}

#about{
	margin: auto;
	width: 625px;
}

#aboutimg{
	width: 150px;
	margin: auto;
	margin-top: 10px;
}

#social{
	float: left;
	width: 50%;
	margin:auto;
}
