
body{
	background-color:#eff2f3;
	font-family: 'Merriweather', serif;
	font-weight: 300;
	color:##232627;
	}

h1 , h3 {
	font-family: 'Raleway', sans-serif;
}

h1 {
	font-size: 26px;
	font-weight: 500;
	text-transform: uppercase;
}

/*how to make title text align with slogan so that the size is responsive?*/

h3{
	text-decoration: underline;
	font-weight: 400;
	/*padding: 0*/
}

.Block {
background-color: #dae5e8;
width: 250px;
padding: 10px 20px;
border: dotted;
margin: 20px auto;
text-align: center;
}

#Slogan {
	font-style: italic;
}

#Feature {
	width: 500px;
	border: double;
}
#Feature p{
	text-align: left;
}
#Search{
	background-color: #dae5e8;
	padding-bottom: 5px;

}
#Search p{
	display: inline-block;
}
input{
	font-family: "Raleway," sans-serif;
	/*i don't think ^^^^ this worked?*/
	text-transform: uppercase;
	display: inline-block;
	width: 220px;
	/*how to make search bar align with feature when that's in the middle?*/
}
header{
	text-align: center;
}

img{
	display: block;
	margin: auto;
}
li a{
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	border: 1px solid #000;
	margin: 10px;
	padding: 5px;
	display: block;
	color: #000; 
	background-color: #fff;
}
ul{
	list-style: none;
	padding: 0;
}