* { margin:0; padding:0; box-sizing:border-box; }
body{
	background-color:#eff2f3;
	font-family: 'Merriweather', serif;
	font-weight: 300;
	color:#232627;
	font-size: 16px;
}
header{
	text-align: center;
}
input{
	font-family: "Raleway," sans-serif;
	text-transform: uppercase;
	display: inline-block;
	width: 25%;
	padding: .5em;
	/*how to make search bar align with feature when that's in the middle?*/
}

img{
	display: block;
	margin: auto;
	max-width:425px;
	width:100%;
}
nav{
	padding: 1%
}
nav li a{
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	border: 1px solid #000;
	margin: 10px;
	padding: 5px;
	display: block;
	color: #000; 
	background-color: #fff;
}
nav ul{
	list-style: none;
	padding: 0;
}
h1, h2, h3 {
	font-family: 'Raleway', sans-serif;
	margin-bottom:.5em;
	font-weight: lighter;
}

h1 {
	font-size: 1.5em;
	font-weight: 500;
	text-transform: uppercase;
}

/*how to make title text align with slogan so that the size is responsive?*/

h2{
	text-decoration: underline;
	font-weight: 400;
	/*padding: 0*/
}

.clearfix:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear:both;
	height: 0;
}

.Block {
	background-color: #dae5e8;
	border: none;
	text-align: center;
	margin: .5em;
}
.column1, main, .column3 {
	float:left;
	width:25%;
	padding:.25em;
}

main {
	width: 50%;
}

#Slogan {
	font-style: italic;
}

#Feature {
	padding: .5em;
}
#Feature p{
	text-align: left;
}
#Search{
	background-color: #dae5e8;
	padding: 1em;
}
#Search p{
	display: inline-block;
}

@media only and screen (max-width: 800px) {

}

@media only and screen (max-width: 400px) {
/*need to undo floats, keep the input centered at the top, */
	body{
		font-size: 18px;
	}
}
